div{
    display: inline-block;
    margin: 7px;   
 }

input{
    width: 15vw;
    height: 1.7vw;
    display: inline-block;
    border: solid  #800000 ;
    background-color:rgb(255, 220, 220);
    border-radius: 5px;
}
button{
    width: 5vw;
    height: 2vw;
    background-color: #ffe6e6;
    color:  #001a00;    ;
    border: solid #800000;
    border-radius: 5px;
}