<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="container-fluid m-0">
  <div class="row">
      <figure class="col-sm">
          <h2>{{usuario?.nombre}}</h2>
          <img [src]="usuario?.img" alt="foto"/>
      </figure>
      <article class="col-lg-5">
        <p>
          <span>Disponibilidad: </span>
          <span>{{usuario?.estado?"Disponible":"Ocupado"}}</span>
        </p>
        <p>
          <span>Tokens: </span>
          <span>{{usuario?.tokens}}</span><span>&#9678;</span>
        </p>
        <p>
          <span>¿Es de fiar?</span>
          <span [class]="usuario?.fiable?'fiable':'noDeFiar'">{{usuario?.fiable?"¡Es de fiar!":"Cuidado este usuario tiene muy malas valoraciones"}}</span>
        </p>
        <p>
            {{usuario?.descripcion}}
        </p>    
        <button class="btn btn-primary" [routerLink]="['/usuario', uid,'nuevatarea']">Nuevo servicio</button>
      </article>
      <aside class="serv col-sm-5">
          <h3>Que trabajos ofrezco:</h3>
          <article class="trabajo" *ngFor='let t of trabajos'>
            <div>{{t.nombre}}</div>
            <div>{{t.descripcion}}</div>
            <div>
              <span>Tokens</span>
              <span>{{t.precio}}</span>
                  <span>
                      <span [class]="t.puntuacion>=1? 'fa fa-star checked': 'fa fa-star'"></span>
                      <span [class]="t.puntuacion>=2? 'fa fa-star checked': 'fa fa-star'"></span>
                      <span [class]="t.puntuacion>=3? 'fa fa-star checked': 'fa fa-star'"></span>
                      <span [class]="t.puntuacion>=4? 'fa fa-star checked': 'fa fa-star'"></span>
                      <span [class]="t.puntuacion>=5? 'fa fa-star checked': 'fa fa-star'"></span>
                  </span> 

            </div>
              <button class="btn btn-secondary" (click)="eliminar(t._id)">ELIMINAR</button>
              <button class="btn btn-secondary">EDITAR</button>
          </article>
          
        
        </aside>
  
  </div>
  
    
    
</section>


