
section{
    margin: 4%;
}

aside{
        margin: 0% 4% 4% 4%;
}

article{
    margin-top:3%;
}

figure{
    
    img{
        width: 100%;
    }
}

.row>*{
    padding: 1vw;
}

p:first-letter{
    text-transform: capitalize;
}

.fiable{
    display: inline-block;
    background-color:#96ceb4;
    border: 0.3vw solid #0f5c0f;
    padding: 0.1vw 2vw;
    border-radius: 1vw;
    margin-left: 1vw;
    font-weight: bold;
}
.noDeFiar{
    display: inline-block;
    color: #fff;
    background-color:#c94c4c;
    border: 0.3vw solid #5c180f;
    padding: 0.1vw 2vw;
    border-radius: 1vw;
    margin-left: 1vw;
}

.serv{
    border: solid 5px #7d2181;
}

.checked {
    color: #ffa500;
  }
