section{
margin-left: 4%;
vertical-align: middle;
display: inline-block;
}

aside{
    display: inline-block;
}

    div{
       padding-top: 10%;
    }

    button{
        margin-top: 3%;
        margin-right: 2%;
    }

.checked {
    color: #ffa500;
  }