<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section>
    <h3>Valoración</h3>
    <img [src]="trabajo?.img" alt="foto" />
    <p>{{trabajo?.nombre}}</p>
    <p>Puntuación: {{user?.puntuacion}}</p>
    <p>Comentarios</p>
    <p>Valoración</p>
    <!-- <span>
        <span [class]="puntuacion>0? 'fa fa-star checked': 'fa fa-star'"></span>
        <span [class]="puntuacion>1? 'fa fa-star checked': 'fa fa-star'"></span>
        <span [class]="puntuacion>2? 'fa fa-star checked': 'fa fa-star'"></span>
        <span [class]="puntuacion>3? 'fa fa-star checked': 'fa fa-star'"></span>
        <span [class]="puntuacion>4? 'fa fa-star checked': 'fa fa-star'"></span>
        <span [class]="puntuacion>5? 'fa fa-star checked': 'fa fa-star'"></span>
    </span><br /> -->
    <span>
        <span (click)="valorar(1)" [class]="puntuacion>=1? 'fa fa-star checked': 'fa fa-star'"></span>
        <span (click)="valorar(2)" [class]="puntuacion>=2? 'fa fa-star checked': 'fa fa-star'"></span>
        <span (click)="valorar(3)" [class]="puntuacion>=3? 'fa fa-star checked': 'fa fa-star'"></span>
        <span (click)="valorar(4)" [class]="puntuacion>=4? 'fa fa-star checked': 'fa fa-star'"></span>
        <span (click)="valorar(5)" [class]="puntuacion>=5? 'fa fa-star checked': 'fa fa-star'"></span>
    </span>

    <button (click)="reportar()">Reportar</button>
    <button (click)="aceptarValoracion()">Aceptar</button>
</section>