<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<aside>
    <figure>
            <img [src]="trabajo?.img" alt="foto" />
    </figure>
</aside>

<section>
    <h3>Valoración</h3>
    
    <h5>{{trabajo?.nombre}}</h5>
    <p>Puntuación {{user?.puntuacion}}</p>
    <p>Comentarios</p>
    <p>Valoración</p>
    <span>
        <span (click)="valorar(1)" [class]="puntuacion>=1? 'fa fa-star checked': 'fa fa-star'"></span>
        <span (click)="valorar(2)" [class]="puntuacion>=2? 'fa fa-star checked': 'fa fa-star'"></span>
        <span (click)="valorar(3)" [class]="puntuacion>=3? 'fa fa-star checked': 'fa fa-star'"></span>
        <span (click)="valorar(4)" [class]="puntuacion>=4? 'fa fa-star checked': 'fa fa-star'"></span>
        <span (click)="valorar(5)" [class]="puntuacion>=5? 'fa fa-star checked': 'fa fa-star'"></span>
    </span>   
 
    <div>
        <button class="btn btn-primary" (click)="reportar()">Reportar</button>
        <button class="btn btn-primary" (click)="aceptarValoracion()">Aceptar</button>
    </div>
</section>