<section>
  <form #usuarioForm="ngForm" (ngSubmit)="guardarUsuario()">
    <h3>Nuevo usuario</h3>

    <label>Nombre</label>
    <div><input type="text" [(ngModel)]="nuevoUsuario.nombre" name="nombre" required></div>

    <label>Email:</label>
    <div><input type="text" [(ngModel)]="nuevoUsuario.email" name="email" required></div>

    <label>Contraseña:</label>
    <div><input type="password" [(ngModel)]="nuevoUsuario.contrasena" name="contrasena" required></div>

    <label>Descripción:</label>
    <div><input type="text" [(ngModel)]="nuevoUsuario.descripcion" name="descripcion" required></div>

    <button class="btn btn-primary" (click)="isRegistrado = !isRegistrado" [disabled]="!usuarioForm.valid">Crear usuario</button>
  </form>
</section>
<div class="alert alert-success alert-dismissible fade show" role="alert" 
[ngClass]="isRegistrado ? 'visible' : 'hidden'">
  <h5 class="alert-heading">Usuario Registrado!!</h5>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="volver()">
    <span aria-hidden="true">X</span>
  </button>
</div>