section{
    margin:5% 4% 1% 4%;
    width: 100%;
}

        figure{
            text-align: right;
            margin-left: 5%;
            display: inline-block;
        }

article{
    margin-left: 5%;
    text-align: right;
    display: inline-block;
}

aside{
   margin-left: 35%;
}



        h5{
        color: #404040;
        }

        button{
            margin-right: 1%;
        }

        .checked {
            color: #ffa500;
          }

          .alert{
              position: absolute;
              left: 10vw;
              top: -15vh;
              z-index: 10;
          }
figure>img{
    width:100%;
}

section:last-of-type{
  position: relative;  
}