figure{
    margin-top:4%;
    margin-left: 12%;
    text-align: center;
    display: inline-block;
}

    p, span {
        color: #595959
    }

    h4 {
        color:  #404040;
    }

    img {
        width: 90%;
    }    