<section class="row m-0" >
  <figure *ngFor='let t of trabajos' class="col-4" [routerLink]="['/trabajos',t._id]">
    <img [src]="t.img" alt="foto"/>
    <h4 class="font-weight-bold">{{t.nombre}}</h4>
    <span>Puntuación:  {{t.puntuacion/t.contpuntuacion}}  &#11088;</span>
    <span>Tokens:  {{t.precio}}  &#9678;</span>
    
    <!--cuando sepamos como relacionar datos ya lo haremos bien -->
    <p>{{t.idCategoria=="5cbecc4db8d5fc4af5a3bcf5"?"Animales":t.idCategoria=="5cbecc4db8d5fc4af5a3bcf6"?"Cocina":t.idCategoria=="5cbecc4db8d5fc4af5a3bcf7"?"lampistería":t.idCategoria=="5cbecc4db8d5fc4af5a3bcf8"?"informática":t.idCategoria=="5cbecc4db8d5fc4af5a3bcf9"?"belleza":"deportes"}}</p>
  </figure>
</section>
